@use '../variables' as *;

.contact_block {
    background: var(--contact-bg);
    padding: 50px;
    @media only screen and (max-width : 1400px) {
        width: 100%;
        padding: 40px 20px;
        h2 {
            text-align: center;
        }
    }
    @media only screen and (max-width : 600px) {
        padding: 20px;
    }
}

.contact_item {
    display: flex;
    align-items: center;
    img {
        object-fit: contain;
        margin-right: 4px;
    }
    @media only screen and (max-width : 1400px) {
        justify-content: center;
    }
}