@use '../variables' as *;

.header {
    background: var(--box-color);
    padding: 20px 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &_wrapper {
        display: flex;
        align-items: center;
        &:first-child {
            @media only screen and (max-width : 500px) {
                display: none;
            }
        }
        &:last-child {
            @media only screen and (max-width : 500px) {
                width: 100%;
                justify-content: space-between;
            }
        }
        & > * {
            & + * {
                margin-left: 40px;
                @media only screen and (max-width : 500px) {
                    margin-left: 20px;
                }
            }
        }
    }

    &_mobile {
        transition: all .2s linear;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        width: 40%;
        transform: translateX(-100%);
        padding: 40px 20px;

        background: var(--mobile-menu-bg);
        opacity: 0;

        &_opened {
            opacity: 1;
            transform: translateX(0);
        }

        & > nav {
            & > ul {
                display: flex;
                flex-direction: column;
                & > li {
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }

        @media only screen and (max-width : 500px) {
          width: 70%;
        }
    }
}

.burger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_opened {
        span {
            opacity: 0;
            &:first-child {
                opacity: 1;
                transform: rotate(45deg) translateY(5px) translateX(8px);
            }
            &:last-child {
                opacity: 1;
                transform: rotate(-45deg) translateY(-4px) translateX(7px);
            }
        }
    }

    span {
        display: block;
        width: 100%;
        height: 3px;
        background: var(--text-color);
        transition: all .1s linear;
    }

    &:hover {
        span {
            background: var(--text-hover-color);
        }
    }
}

