@use '../variables.scss' as *;

.service_block {

    &_row {
        @include row;
    }
}

.service_item {
    @include column3;
    @include content-card;
    &_image {
        position: relative;
        img {
        }
    }
    p {
        font-style: italic;
    }
    @media only screen and (max-width : 1100px) {
        width: calc(50% - 40px);
    }
    @media only screen and (max-width : 769px) {
        width: calc(100% - 40px);
    }
}