@use '../variables' as *;

.skill_block {
    padding: 50px;
    background: var(--skill-bg);
    &_row {
        @include row;
    }
    @media only screen and (max-width : 1400px) {
        width: 100%;
        padding: 40px 20px;
        h2 {
            text-align: center;
        }
    }
    @media only screen and (max-width : 600px) {
        padding: 20px;
    }
}

.skill_area {
    @include content-card;
    @include column2;
    @media only screen and (max-width : 769px) {
        width: calc(100% - 40px);
    }
}