@use '../variables' as *;

.skill_block {
    background: #f9f1fd;
    padding: 50px;

    &__dark {
        background: #4e3c53;
    }

    &_row {
        @include row;
    }
}

.skill_area {
    @include content-card;
    @include column2;
}