name: Deploy to VPS

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    environment: Deploy

    steps:
    - name: Deploy using ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: 22
        script: |
          cd ${{ secrets.HOST_APP_PATH }}
          git pull origin main
          docker stop next-app
          docker rm next-app
          docker build -t next-app .
          docker run -d --name next-app -p 127.0.0.1:3000:3000 next-app
